node_modules
dist
.tinyverse
coverage
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
.idea
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
apps/**/dist
packages/**/dist
server/dist
temp/
